body {
    margin: 0px;
    font-family:sans-serif;
  }

.sidebar.mini .option span {
    display: none;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color:#0f5024;
    position: absolute;
    user-select: none;
}

.sidebar.mini {
    width:60px;
}

.content {
    padding-left:10%;
    padding-right:10%;
    left:200px;
    position: absolute;
    width: calc(100% - 20% - 200px);
}

.content.wide {
    padding-left:10%;
    padding-right:10%;
    left:60px;
    position: absolute;
    width: calc(100% - 20% - 60px);
}

.sidebar.mini .option-list {
    display: none !important;
}

.title {
    margin-top:10px;
    font-size:28px;
    font-weight:bold;
}

.sidebar .option {
    font-size:22px;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:10px;
    color:white;
}

.sidebar .option.indented{
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    border-color: black;
    font-size:18px;
    width:100%;
}

table tr:first-child{
    font-weight: bold;
}

table td{
    padding:5px;
    width:25%;
}

td:first-child{
    font-weight: bold;
}

.paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 70%;
}

a {
    text-decoration: none;
}