/* https://fonts.google.com/specimen/Jost */
@font-face { font-family: Jost; src: url('font/Jost/static/Jost-Regular.ttf') }
@font-face { font-family: Jost; font-weight: bold; src: url('font/Jost/static/Jost-Bold.ttf') }
@font-face { font-family: Jost; font-style: italic; src: url('font/Jost/static/Jost-Italic.ttf') }

body {
    margin: 0px;
    font-family: Jost;
}

.nav-bar {
    width: 100%;
    height: 55px;
    background-color:#0f5024;
    float: left;
    float: right;
    position: static;
    user-select: none;
}

/* .nav-bar.mini .option span {
    display: none;
}

.nav-bar.mini {
    width:100px;
} */

/* .nav-bar.mini .option-list {
    display: none !important;
} */

.nav-bar .option {
    font-size: 22px;
    padding: 10px;
    color:white;
    width: fit-content;
    cursor: pointer;
    display: block;
    float: left;
}

.nav-bar .option.indented{
    margin-left: 20px;
}

.content.wide {
    padding-left:10%;
    padding-right:10%;
    left:200px;
    position: absolute;
    width: calc(100% - 20% - 200px);
}

.content {
    padding-left:10%;
    padding-right:10%;
    left:60px;
    top: 35px;
    position: absolute;
    width: calc(100% - 20% - 60px);
}

.title {
    margin-top:10px;
    font-size:75px;
    font-weight:bold;
}

table {
    border-collapse: collapse;
    border-color: black;
    font-size:18px;
    width:100%;
}

table tr:first-child{
    font-weight: bold;
}

table td{
    padding:5px;
    width:25%;
}

td:first-child{
    font-weight: bold;
}

.paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 70%;
}

.tooltip {
    visibility: hidden;
    background-color: #339933;
    border-radius: 5px;
    position: absolute;
    max-width: 150px;
}

.tooltip-text {
    padding-left: 5px;
}

a {
    text-decoration: none;
}

.hideOnSelect {
    display: none;
}

.provider-services {
    display: none;
}

.box-label {
    font-weight: bold;
    font-size: 25px;
    margin-left: 15px;
}

.info {
    margin-left: 20px;
}

#calc-button {
    background-color: #0f5024;
    border: 2px solid #0f5024;
    color: white;
    padding: 15px 25px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    border-radius: 13px;
    transition-duration: 0.15s;
    cursor: pointer;
}

#calc-button:hover {
    background-color: white;
    color: black;
}

#calc-button:active {
    background-color: #c4c0c0;
    color: black;
}
